PIHOLE_INTERFACE={{ ansible_facts.default_ipv4.alias }}
IPV4_ADDRESS={{ ansible_host }}/24
{% if pihole_ipv6 | default(false) %}
IPV6_ADDRESS={{ pihole_ipv6 }}
{% endif %}
QUERY_LOGGING=false
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
BLOCKING_ENABLED=true
DNSMASQ_LISTENING=local
{% for d in dns_forwarders %}
PIHOLE_DNS_{{ loop.index }}={{ d }}
{% endfor %}
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSSEC={{ pihole_dnssec | string | lower }}
CONDITIONAL_FORWARDING=false
CACHE_SIZE=10000
{% if pihole_pwdhash | default(False) %}
WEBPASSWORD={{ pihole_pwdhash }}
{% endif %}
