check host vpn_ip with address {{ ip_check_url}}
    start program = "/usr/bin/nordvpn c canada"
    stop program = "/usr/bin/nordvpn d"
    if failed port 443 protocol https
    content != "{{ local_ip }}" then restart