{
    "alt-speed-down": {{ transmission_alt_download }},
    "alt-speed-enabled": false,
    "alt-speed-time-begin": {{ transmission_alt_start }},
    "alt-speed-time-day": {{ transmission_alt_day }},
    "alt-speed-time-enabled": true,
    "alt-speed-time-end": {{ transmission_alt_end }},
    "alt-speed-up": {{ transmission_alt_upload }},
    "bind-address-ipv4": "0.0.0.0",
    "blocklist-enabled": false,
    "blocklist-updates-enabled": true,
    "blocklist-url": "http://www.example.com/blocklist",
    "cache-size-mb": 4,
    "compact-view": false,
    "dht-enabled": true,
    "download-dir": "{{ transmission_download_dir }}",
    "download-queue-enabled": true,
    "download-queue-size": {{ transmission_queue_size }},
    "encryption": 2,
    "idle-seeding-limit": 30,
    "idle-seeding-limit-enabled": false,
    "incomplete-dir": "{{ transmission_incomplete_dir }}",
    "incomplete-dir-enabled": true,
    "inhibit-desktop-hibernation": false,
    "lpd-enabled": false,
    "main-window-height": 500,
    "main-window-is-maximized": 0,
    "main-window-width": 556,
    "main-window-x": 50,
    "main-window-y": 50,
    "message-level": 2,
    "open-dialog-dir": "{{ transmission_download_dir }}",
    "peer-congestion-algorithm": "",
    "peer-id-ttl-hours": 6,
    "peer-limit-global": 200,
    "peer-limit-per-torrent": 50,
    "peer-port": 50988,
    "peer-port-random-high": {{ transmission_high_port }},
    "peer-port-random-low": {{ transmission_low_port }},
    "peer-port-random-on-start": true,
    "peer-socket-tos": "default",
    "pex-enabled": true,
    "port-forwarding-enabled": true,
    "preallocation": 1,
    "prefetch-enabled": true,
    "queue-stalled-enabled": true,
    "queue-stalled-minutes": 60,
    "ratio-limit": 2,
    "ratio-limit-enabled": true,
    "rename-partial-files": true,
    "rpc-authentication-required": false,
{% if transmission_https %}
    "rpc-bind-address": "127.0.0.1",
{% else %}
    "rpc-bind-address": "127.0.0.1,{{ ansible_host }}",
{% endif %}
    "rpc-enabled": true,
    "rpc-host-whitelist": "{{ transmission_hostnames | join(',') }}",
{% if transmission_strict_hostnames | default(false) %}
    "rpc-host-whitelist-enabled": true,
{% else %}
    "rpc-host-whitelist-enabled": false,
{% endif %}
    "rpc-password": "",
    "rpc-port": 9091,
    "rpc-url": "/transmission/",
    "rpc-username": "",
{% if transmission_allow_list == [] %}
    "rpc-whitelist": "127.0.0.1,{{ local_subnet | ipaddr('network') | regex_replace('(\d{1,3}\.\d{1,3}\.\d{1,3}\.)\d{1,3}', '\\1*') }}",
{% else %}
    "rpc-whitelist": "127.0.0.1,{{ transmission_allow_list | join(',')}}",
{% endif %}
    "rpc-whitelist-enabled": true,
    "scrape-paused-torrents-enabled": true,
    "script-torrent-done-enabled": false,
    "script-torrent-done-filename": "",
    "seed-queue-enabled": false,
    "seed-queue-size": 10,
    "show-backup-trackers": false,
    "show-extra-peer-details": false,
    "show-filterbar": true,
    "show-notification-area-icon": false,
    "show-options-window": false,
    "show-statusbar": true,
    "show-toolbar": true,
    "show-tracker-scrapes": false,
    "sort-mode": "sort-by-name",
    "sort-reversed": false,
    "speed-limit-down": {{ transmission_max_download }},
    "speed-limit-down-enabled": true,
    "speed-limit-up": {{ transmission_max_upload }},
    "speed-limit-up-enabled": true,
    "start-added-torrents": true,
    "statusbar-stats": "total-ratio",
    "torrent-added-notification-enabled": true,
    "torrent-complete-notification-enabled": true,
    "torrent-complete-sound-command": "canberra-gtk-play -i complete-download -d 'transmission torrent downloaded'",
    "torrent-complete-sound-enabled": true,
    "trash-can-enabled": true,
    "trash-original-torrent-files": true,
    "umask": 18,
    "upload-slots-per-torrent": 14,
    "user-has-given-informed-consent": true,
    "utp-enabled": true,
    "watch-dir": "{{ transmission_torrent_dir }}",
    "watch-dir-enabled": true
}
