{% for host in transmission_mounts  %}
{% for share in transmission_mounts[host] %}
{% if host | ipv4 %}
//{{ host }}/{{ share }} 		/mnt/{{ host.split('.')[2] }}_{{ host.split('.')[3] }}_{{ share }} 	cifs 	x-systemd.automount,credentials=/root/.samba.conf,uid=debian-transmission  	0 	0
{% elif host | ipv6 %}
//{{ host }}/{{ share }} 		/mnt/{{ host.split(':')[-1] }}_{{ share }} 	cifs 	x-systemd.automount,credentials=/root/.samba.conf,uid=debian-transmission 	0 	0
{% else %}
{% if force_mount_ipv4 %}
//{{ local_dns_zones[host.split('.', 1)[1]][host.split('.', 1)[0]] }}/{{ share }}		/mnt/{{ host.split('.')[0] }}_{{ share }} 		cifs 	x-systemd.automount,credentials=/root/.samba.conf,uid=debian-transmission  	0 	0
{% else %}
//{{ host }}/{{ share }} 		/mnt/{{ host.split('.')[0] }}_{{ share }} 		cifs 	x-systemd.automount,credentials=/root/.samba.conf,uid=debian-transmission  	0 	0
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
