- name: Ensure replication user exists.
  ldap_entry:
        dn: "{{ ldap_replication_user }}"
        objectClass: 
          - simpleSecurityObject
          - organizationalRole
        attributes:
          cn: Replicator
          description: Replication user
          userPassword: "{{ '{CRYPT}' ~ ( ldap_replication_pw | password_hash('blowfish', rounds=12)) }}"
        bind_dn: "{{ ldap_rootdn }}"
        bind_pw: "{{ ldap_rootpw }}"
  
- name: Ensure we don't have an ldap hostname entry in host file.
  lineinfile:
    path: /etc/hosts
    state: absent
    regexp: "127.\\d{1,3}.\\d{1,3}.\\d{1,3}\\s+(\\w+\\s+)?{{ ldap_hostname }}.+"

- name: Ensure replication ACLs are set.
  ldap_attrs:
    dn: olcDatabase={1}mdb,cn=config
    attributes:
      olcAccess: '{0}to * by dn.exact="{{ ldap_replication_user }}" read by * break'
      olcLimits: dn.exact="{{ ldap_replication_user }}" time.soft=unlimited time.hard=unlimited size.soft=unlimited size.hard=unlimited
  register: repl_acl

- name: Ensure replication module is enabled.
  ldap_attrs:
    dn: cn=module{0},cn=config
    attributes:
      olcModuleLoad: syncprov.la
    state: present
  register: repl_mod

- name: Enable replication on the databases
  ldap_entry:
    dn: "{{ item }}"
    objectClass:
      - olcOverlayConfig
      - olcSyncProvConfig
    attributes:
      olcOverlay: syncprov
      olcSpSessionlog: 100
      olcSpCheckpoint: 100 10
  with_items:
    - olcOverlay={0}syncprov,olcDatabase={0}config,cn=config
    - olcOverlay={1}syncprov,olcDatabase={1}mdb,cn=config
  register: repl_enable

- name: Set server IDs
  ldap_attrs:
    dn: cn=config
    state: present  
    attributes:
        olcServerID: "{{ item.value.id }} {{ ldap_replication_scheme }}://{{ item.key }}"
  loop: "{{ ldap_replication_hosts | dict2items }}"
  when: ldap_replication_enable | bool


# Wasn't able to import this with ldap_attrs
- block:
  - name: Check for olcSyncRepl
    command: 'ldapsearch -Y EXTERNAL -H ldapi:/// -b "cn=config" -LLL "(olcSyncrepl=*)"'
    register: olcsyncrepl
    changed_when: olcsyncrepl.rc != 0
    failed_when: olcsyncrepl.stdout_lines == []
  rescue:
    - name: Copy over replication LDIF
      template: 
          src: replicate.ldif.j2
          dest: /root/replicate.ldif
    - name: Add ldif to enable replication
      command: ldapmodify -Y EXTERNAL -H ldapi:/// -f /root/replicate.ldif
    - name: Remove LDIF
      file:
        path: /root/replicate.ldif
        state: absent

- name: Ensure replication attributes are indexed
  ldap_attrs:
    dn: olcDatabase={1}mdb,cn=config
    state: present
    attributes:
      olcDbIndex: '{{ item }}'
  with_items:
    - entryCSN eq
    - entryUUID eq
          

