backup_dir: "{{ playbook_dir }}/env/{{ env }}/backups"

# Env
timezone: America/Toronto
default_editor: nano
bash_colour: 36
bash_custom_aliases: []
core_apps: [sudo, p7zip, unzip, nano, rsync, tmux, wget, curl, dnsutils]
cron_email: false

# User Info
users: {}
primary_user: admin
sudo_users: '[{{ primary_user }}, {{ ansible_ssh_user }}]'
sudo_nopasswd: []

# SSHD 
sshd_service_name: sshd
sshd_keytype: ed25519
sshd_strict_ipv4: false
sshd_public_port: 0
sshd_strict_ipv6: true
sshd_lowdelay: false
ssh_keys: []

# IPv6
ipv6_address: false
ipv6_addresses: []

bind_ipv6: '{{ ipv6_address }}'
mail_ipv6: '{{ ipv6_address }}'
ldap_ipv6: '{{ ipv6_address }}'

website_ipv6: []

# Networking
dns_resolvers: []
local_subnet: 
  - '127.0.0.0/24'

# Firewall
firewall_enable: false
firewall_open_ports: false
trusted_hosts: []
local_dns_clients: []

ldap_allow_list: []
ldap_replication_hosts: []

sieve_port: 4190

emby_allow_list: []
samba_allow_list: []

doveadm_allow_list: []
doveadm_port: 12345
doveadm_password: false

transmission_high_port: 65535
transmission_low_port: 49152
transmission_https_only: false
transmission_allow_list: []

samba_ipv6: false

wg_ipv4_subnet: 10.0.10.1/24
wg_ipv6_subnet: fc10:1:2::1/64
wg_port: 51820
wg_nat: false

# Monitoring
monit_enabled: true

# OS
debian_version: trixie
amd_driver: false 
