# /etc/hosts.allow: list of hosts that are allowed to access the system.
#                   See the manual pages hosts_access(5) and hosts_options(5).
#
# Example:    ALL: LOCAL @some_netgroup
#             ALL: .foobar.edu EXCEPT terminalserver.foobar.edu
#
# If you're going to protect the portmapper use the name "rpcbind" for the
# daemon name. See rpcbind(8) and rpc.mountd(8) for further information.
#
{% if firewall_enable %}
{% for host in trusted_hosts %}
{% if host | ipv4 %}
sshd : {{ host | ipaddr('address') }}/{{ host | ipaddr('prefix') }} : allow
{% elif host | ipv6 %}
sshd : {{ host | ipwrap }} : allow
{% endif %}
{% endfor %}
{% if local_subnet | network_in_usable(ansible_host) %}
sshd : {{ local_subnet | ipaddr('subnet') }} : allow
{% endif %}
{% if sshd_public_port %}
# Allow SSH on non-standard port for all
{{ sshd_public_port }} : ALL : allow
{% endif %}
# sshd : ALL : deny

{% else %}
sshd : ALL : allow

{% endif %}
{% if 'ldap' in group_names %}
slapd : 127.0.0.1 : allow
slapd : [::1] : allow
{% for host in ldap_allow_list %}
{% if host | ipv4 %}
slapd : {{ host }} : allow
{% elif host | ipv6 %}
slapd : {{ host | ipwrap }} : allow
{% elif host in hostvars | default(False) %}
slapd : {{ hostvars[host]['ansible_host'] }} : allow
{% if hostvars[host]['ipv6_address'] | default(False) %}
slapd : {{ hostvars[host]['ipv6_address'] | ipwrap }} : allow
{% endif %}
{% endif %}
{% endfor %}
slapd : ALL : deny

{% endif %}
{% if 'webmail' in group_names %}
mysqld : 127.0.0.1 : allow
mysqld : ALL : deny

{% endif %}
# Allow anything from localhost.
ALL : 127.0.0.1 : allow
ALL : [::1] : allow
