# Fail2Ban configuration file.

[INCLUDES]
before = paths-debian.conf

[DEFAULT]
ignoreip = 127.0.0.1/8 {{ ' '.join(trusted_hosts) }}
ignorecommand =
bantime  = 2592000

# A host is banned if it has generated "maxretry" during the last "findtime"
# seconds.
findtime  = 7200
maxretry = 5
backend = auto
usedns = warn
logencoding = auto
enabled = false

#
# JAILS
#
[sshd]
enabled = true
filter  = sshd
port    = ssh{% if sshd_public_port > 0 %},{{ sshd_public_port }}{% endif %}

maxretry = 5
