{% for user in sudo_users %}
{% if  user in sudo_nopasswd  %}
{{ user }}	ALL=(ALL:ALL) NOPASSWD:ALL
{% else %}
{{ user }}	ALL=(ALL:ALL) ALL
{% endif %}
{% endfor %}
# ansible synchonize
{{ ansible_ssh_user }} ALL=(ALL:ALL) NOPASSWD: /usr/bin/rsync
