{% for u in sudo_users %}
{% if  u in sudo_nopasswd  %}
{{ u }}	ALL=(ALL:ALL) NOPASSWD:ALL
{% else %}
{{ u }}	ALL=(ALL:ALL) ALL
{% endif %}
{% endfor %}
# ansible synchonize
{{ ansible_ssh_user }} ALL=(ALL:ALL) NOPASSWD: /usr/bin/rsync
