options {
	directory "/var/cache/bind";

	// If there is a firewall between you and nameservers you want
	// to talk to, you may need to fix the firewall to allow multiple
	// ports to talk.  See http://www.kb.cert.org/vuls/id/800113

	// If your ISP provided one or more IP addresses for stable 
	// nameservers, you probably want to use them as forwarders.  
	// Uncomment the following block, and insert the addresses replacing 
	// the all-0's placeholder.

	// forwarders {
	// 	67.207.67.2;
	//	67.207.67.3;
	// };

	//========================================================================
	// If BIND logs error messages about the root key being expired,
	// you will need to update your keys.  See https://www.isc.org/bind-keys
	//========================================================================
	dnssec-validation yes;
	auth-nxdomain no;    # conform to RFC1035
	interface-interval 0;
	
	// Listen on IPv4 and IPv6
	listen-on { any; };
{% if bind_ipv6 == 'any' %}

	listen-on-v6 { any; };
	notify-source-v6 *;
{% elif bind_ipv6 %}

	listen-on-v6 { {{ bind_ipv6 }}; };
	notify-source-v6 {{ bind_ipv6 }};
{% endif %}

	// Transfer zone information to secondary DNS
	allow-transfer { key "rndc-key"; };
	
	// Allow internal requests
	allow-query { any; };

	// Allow recursive queries internally
	recursion yes;                 # enables resursive queries
	allow-recursion { internals; };

	// Hide version
	version none;

};

