$ORIGIN {{ domain }}. 

$TTL 86400 
{{ domain }}.	IN	SOA	{{ master_ns }}.{{ nameservers[master_ns].domain }}.	root.{{ domain }}. (     
			{{ serial[:-4] }} ; serial                     
			{{ dns_zone_refresh }}     ; refresh after {{ dns_zone_refresh // 60 // 60 }} hours                     
			{{ dns_zone_retry }}      ; retry after {{ dns_zone_retry // 60 // 60 }} hours                     
			{{ dns_zone_expire }}     ; expire after {{ dns_zone_expire // 60 // 60 // 24 }} days                     
			{{ dns_zone_ttl }} )    ; minimum TTL of {{ dns_zone_ttl // 60 // 60 }} hours  
		     
{% for ns in nameservers %}	IN	NS	{{ ns }}.{{ nameservers[ns].domain }}.
{% endfor %}

{% if dns_zones[domain].mail | default(false) %}
	IN	MX	10	{{ dns_zones[domain].mail }}.
{% endif %}
{% if dns_zones[domain].backup_mail | default(false) %}
{% for bmail in  dns_zones[domain].backup_mail | default(false) %}
	IN	MX	{{ loop.index * 20 }}	{{ bmail }}.
{% endfor %}
{% endif %}

{% if dns_zones[domain].spf_txt | default(false) %}
{{ domain }}.		IN	TXT 	"{{ dns_zones[domain].spf_txt }}"
{% else %}
{{ domain }}.		IN	TXT 	"{{ spf_default_txt }}"
{% endif %}

{% for ns in nameservers %}
{% if nameservers[ns].domain == domain %}
{% if nameservers[ns].ipv4 | default(false) %}{{ ns }}	IN	A	{{ nameservers[ns].ipv4 }}
{% endif %}
{% if nameservers[ns].ipv6 | default(false) %}{{ ns }}	IN	AAAA	{{ nameservers[ns].ipv6 }}
{% endif %}
{% endif %}
{% endfor %}

{% if dns_zones[domain].hostnames | default(false) %}
{% for hostname in dns_zones[domain].hostnames %}
{% if dns_zones[domain].hostnames[hostname].ipv4 | default(false) %}{{ hostname }}	IN	A 	{{ dns_zones[domain].hostnames[hostname].ipv4 }}
{% endif %}
{% if dns_zones[domain].hostnames[hostname].ipv6 | default(false) %}{{ hostname }}	IN	AAAA 	{{ dns_zones[domain].hostnames[hostname].ipv6 }}
{% endif %}
{% endfor %}
{% endif %}

{% if dns_zones[domain].cnames | default(false) %}
{% for hostname in dns_zones[domain].cnames %}
{{ hostname }}	IN	CNAME	{{ dns_zones[domain].cnames[hostname] }}.
{% endfor %}
{% endif %}

{% if dns_zones[domain].dmarc_txt | default(false) %}
_dmarc	IN	TXT		"{{ dns_zones[domain].dmarc_txt }}"
{% else %}
_dmarc	IN	TXT		"{{ dmarc_default_txt }}"
{% endif %}

{% if dns_zones[domain].custom_txt | default(false) %}
{% for txt in dns_zones[domain].custom_txt %}
{{ dns_zones[domain].custom_txt[txt].key }}	IN	TXT		"{{ dns_zones[domain].custom_txt[txt].value }}"
{% endfor %}

{% endif %}
{% if dkim_exists.rc == 0 %}
{% for key in dkim_keys %}
$INCLUDE "{{ dkim_txt_dir }}/{{ domain }}_{{ key }}.txt"
{% endfor %}
{% endif %}

{% if dns_zones[domain].dnssec | default(False) %}
{% for key_file in domain_dnssec_keys %}
$INCLUDE "{{ key_file }}"
{% endfor %}
{% endif%}
