# Ensure NordVPN is set up.
- include_tasks: vpn.yml
  when: transmission_vpn

- name: Install transmission
  apt:
    name: 
      - transmission-cli
      - transmission-daemon
    state: latest

- name: Set daemon settings
  lineinfile:
    path: /lib/systemd/system/transmission-daemon.service
    line: ExecStart=/usr/bin/transmission-daemon -f --log-error --logfile /var/lib/transmission-daemon/transmission.log
    regexp: ExecStart=.+

- name: Ensure transmission log file exist.
  file:
    path: /var/lib/transmission-daemon/transmission.log
    state: touch
    owner: debian-transmission
    group: debian-transmission
    mode: '0740'
  register: transmission_log
  changed_when: transmission_log.diff.before.state == 'absent'

- name: Check transmission config
  template:
    src: settings.json.j2
    dest: /var/lib/transmission-daemon/.config/transmission-daemon/settings.json.test
  register: transmission_settings

- block:
  - name: Stop transmission so we can update the config.
    systemd:
      name: transmission-daemon
      state: stopped
  - name: Update transmission config
    template:
      src: settings.json.j2
      dest: /var/lib/transmission-daemon/.config/transmission-daemon/settings.json
      owner: debian-transmission
      group: debian-transmission
  - name: Start transmission
    systemd:
      name: transmission-daemon
      state: started
  when: transmission_settings.changed

# Ensure we have downloads folder via smb mount or vbox mount.
- include_tasks: smb_mounts.yml
  when: transmission_mounts != []

- include_tasks: vbox.yml
  when: transmission_vboxguest

- name: Ensure transmission is enabled
  systemd:
    name: transmission-daemon
    enabled: yes
    state: started

- block:
  - name: Update script for importing torrents from a directory.
    template:
      src: add_torrents.sh.j2
      dest: /root/add_torrents.sh
      mode: '0755'

  - name: Set cronjob to import torrent
    cron:
      name: Auto import torrents to transmission
      minute: "*/10"
      job: '/usr/bin/bash /root/add_torrents.sh > /dev/null 2>&1'
  when: transmission_watch_dir_enabled

- include_tasks: nginx.yml
  when: transmission_https