- include_role:
    name: vboxguest
    
- name: Ensure debian-transmission belongs to vboxsf group
  user:
    append: yes
    create_home: no
    groups:
      - vboxsf
    name: debian-transmission 

- name: Add sleep to daemon so vboxsf is mounted first
  lineinfile:
    path: /lib/systemd/system/transmission-daemon.service
    line: "ExecStartPre=/bin/sleep 30"
    regexp: "ExecStartPre=.+"
    insertafter: Type=notify

- name: Add cron job to resume all transfers after reboot just to be safe
  cron:
    name: "transmission resume"
    job: "sleep 120 && transmission-remote -t all -s > /dev/null 2>&1"
    special_time: reboot
    state: present
