# For more options and information see
# http://rpf.io/configtxt
# Some settings may impact device functionality. See link above for details

hdmi_safe=1

{% if 'bedroom_tv' in group_names %}}
overscan_left=16
overscan_right=16
overscan_top=16
overscan_bottom=16
{% endif %}

# Enable audio (loads snd_bcm2835)
dtparam=audio=on

[pi4]
# Enable DRM VC4 V3D driver on top of the dispmanx display stack
dtoverlay=vc4-fkms-v3d
max_framebuffers=2
arm_boost=1

[pi3]
#Enable DRM VC4 V3D driver
dtoverlay=vc4-kms-v3d
max_framebuffers=2
gpu_mem=320
disable_auto_turbo=0

[all]
start_x=1

{% if 'bedroom_tv' in group_names %}
hdmi_force_hotplug=1
hdmi_group=1
hdmi_mode=4
{% endif %}
