actions {
    reject = {{ rspamd_reject }};
    add_header = {{ rspamd_add_header }};
    rewrite_subject = {{ rspamd_rewrite_subject }};
    greylist = {{ rspamd_greylist }};
}

subject = "[SPAM] %s";