#action = "no action";
# These are default settings you may want to change
expire = 3d;
key_prefix = "rr";
message = "Message is reply to one we originated";
symbol = "REPLY";
# Module specific redis configuration
#servers = "localhost";