- name: Update network shares fstab file
  template:
    src: media.fstab.j2
    dest: /etc/fstab.media
  register: fstab_media

- name: Update backup network share fstab file for use with monit.
  template:
    src: media.backup.fstab.j2
    dest: /etc/fstab.media.backup
  when: monit_enabled | default(true)

- name: Update network share credentials
  template:
    src: media.conf.j2
    dest: "/root/media.conf"
  register: media_cred
  when: smb_shares != {}

- name: Ensure cifs-utils is installed
  apt:
    name: cifs-utils
    state: present
  when: smb_shares != {}

- name: Ensure nfs-common is installed
  apt:
    name: nfs-common
    state: present
  when: nfs_shares != {}    

# Config share mount folders
- include_tasks: mounts.yml
  loop: "{{ smb_shares | combine(nfs_shares) | dict2items | map(attribute='key') | list }}"

- name: Add mount script
  template:
    src: fstab.if-up.j2
    dest: '/etc/network/if-up.d/fstab'
    mode: "0700"
    owner: root

- name: Remount drives
  command: /bin/mount -a -T /etc/fstab.media
  args:
    warn: no
  failed_when: False
  when: media_cred.changed or fstab_media.changed