# Tasks that clean up things like SSH keys and what have you.
- name: "Remove stale authorized keys file for {{ item.key }}"
  authorized_key: 
    user: "{{ item.key }}"
    state: absent
    key: "{{ key_item }}"
  with_items:
      - stale_ssh_keys
  loop_control:
    loop_var: key_item
  when: stale_ssh_keys | length > 0