- set_fact:
    rules: [v4]
  when: not ipv6_address

- set_fact:
    rules: [v4, v6] 
  when: ipv6_address | length > 0

- name: Ensure iptables is installed
  apt: 
    name: [iptables, iptables-persistent]
    state: latest
    update_cache: yes
    install_recommends: yes

- name: Update our iptables rules
  template:
    src: "rules.{{ item }}.j2"
    dest: "/etc/iptables/rules.{{ item }}"
  with_items: '{{ rules }}'
  register: new_rules
  # Restart Fail2Ban so it adds the tables for banning.
  notify: restart fail2ban  

- name: Load new IPv4 rules
  command: "/sbin/iptables-restore /etc/iptables/rules.v4"
  when: new_rules.changed

- name: Load new IPv6 rules
  command: "/sbin/ip6tables-restore /etc/iptables/rules.v6"
  when: new_rules.changed and ipv6_address | length > 0

- name: Ensure fail2ban is installed
  apt: 
    name: fail2ban
    state: latest
    update_cache: yes
    install_recommends: yes

- name: Update the fail2ban config file
  template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
  notify: restart fail2ban

- name: Ensure rsyslog is installed
  apt: 
    name: rsyslog
    state: latest
    update_cache: yes
    install_recommends: yes

- name: Update rsyslog config file
  template:
    src: rsyslog.conf.j2
    dest: /etc/rsyslog.conf
  notify: restart rsyslog

- name: Ensure rsyslog is running
  service: 
    name: rsyslog
    state: started

- name: Ensure fail2ban is running
  service: 
    name: fail2ban
    state: started
