allow_update = ["127.0.0.1", "::1"];

# Number of processes to serve this storage (useful for read scaling)
count = 4;

# Hashes storage time (3 months)
expire = 90d;

# Synchronize updates to the storage each minute
sync = 1min;
  