{% for domain in cert_domains %}
server {
  listen {{ ansible_host }}:80;
{% if (cert_ipv6 is defined) and not (cert_ipv6 | string | trim == '') %}
{% if (cert_ipv6 | ansible.utils.ipv6) %}
  listen {{ cert_ipv6 | ansible.utils.ipwrap }}:80;
{% endif %}
{% endif %}
  server_name {{ domain }};

  # The initial letsencrypt setup
  location /.well-known/acme-challenge {
    root /var/www/letsencrypt;
  }

  location / {
        return 301 https://{{ domain }};
  }
}
{% endfor %}
