{% for domain in cert_domains %}
server {
{% if local_cert_gen %}
  listen {{ hostvars[local_cert_host]['ansible_host'] }}:{{ certbot_port }};
{% else %}
  listen {{ ansible_host }}:{{ certbot_port }};
{% if cert_ipv6 %}
  listen {{ cert_ipv6 | ipwrap }}:{{ certbot_port }};
{% endif %}
{% endif %}
  server_name {{ domain }};

  # The initial letsencrypt setup
  location /.well-known/acme-challenge {
    root /var/www/letsencrypt;
  }

  location / {
        return 301 https://{{ domain }};
  }
}
{% endfor %}
