[Interface]
Address = {{ wg_ipv4_subnet }}{% if wg_ipv6_subnet %},{{ wg_ipv6_subnet }}{% endif %}

SaveConfig = true
ListenPort = {{ wg_port }}
PrivateKey = {{ wg_private_key.stdout | default('') }}
{% if wg_ipv6_subnet %}
PostUp = {% for ip in wg_ipv6_addresses %}ip -6 neigh add proxy {{ ip }} dev {{ default_if | default(ansible_facts.default_ipv4.alias)}};{% endfor %}

PostDown = {% for ip in wg_ipv6_addresses %}ip -6 neigh del proxy {{ ip }} dev {{ default_if | default(ansible_facts.default_ipv4.alias)}};{% endfor %}
{% endif %}


{% for client in wg_clients %}
[Peer]
PublicKey = {{ wg_clients[client].public_key }}
AllowedIPs = {{ wg_clients[client].ipv4 | ipaddr('host/prefix') }}{% if wg_ipv6_subnet and wg_clients[client].ipv6 | default(false) %}, {{ wg_clients[client].ipv6 | ipaddr('host/prefix') }}{% endif %}

{% if wg_psk %}
PresharedKey = {{ wg_pre_shared_key.stdout | default('') }}
{% endif %}

{% endfor %}

