server_host     = {{ ldap_scheme }}://{{ ldap_server }}
version         = 3
bind            = yes
bind_dn         = {{ ldap_admin }}
bind_pw         = {{ ldap_pw }}
search_base     = o=domains,{{ ldap_suffix }}
scope           = sub
query_filter    = (&(|(mail=%s)(shadowAddress=%s))(|(objectClass=mailAlias)(&(objectClass=mailUser))))
result_attribute= mailForwardingAddress
debuglevel      = 0
