<?xml version="1.0"?>
<OpenSubtitleOptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <OpenSubtitlesUsername>{{ opensub_username }}</OpenSubtitlesUsername>
  <OpenSubtitlesPasswordHash>h:{{ opensub_hash }}</OpenSubtitlesPasswordHash>
  <Vip>false</Vip>
</OpenSubtitleOptions>