check process slapd with pidfile /var/run/slapd/slapd.pid
   group database
   start program = "/etc/init.d/slapd start"
   stop program = "/etc/init.d/slapd stop"
   if failed host {{ ldap_localip }} port 389 protocol ldap3 then restart
