dn: olcDatabase={1}mdb,cn=config
changetype: modify
add: olcSyncRepl
{% for host in ldap_replication_hosts %}
{% if host != ldap_hostname %}
olcSyncRepl:
    rid={{ "%03d" | format(ldap_replication_hosts[host]['id']) }}
    provider={{ ldap_replication_scheme }}://{{ host }}
    bindmethod=simple
    binddn={{ ldap_replication_user }}
    credentials={{ ldap_replication_pw }}
    searchbase="{{ ldap_suffix }}"
    type=refreshAndPersist
    retry="5 5 300 5"
    timeout=1
    interval=00:00:15:00
{% endif %}
{% endfor %}
-
add: olcMirrorMode
olcMirrorMode: TRUE
