dn: {{ ldap_suffix }}
objectClass: top
objectClass: dcObject
objectClass: organization
o: {{ ldap_domain.split('.')[0] }}
dc: {{ ldap_domain.split('.')[0] }}

dn: {{ ldap_rootdn }}
objectClass: simpleSecurityObject
objectClass: organizationalRole
cn: {{ ldap_rootdn | regex_search('cn\=(\w+)\,dc\=.+') }}
description: LDAP root DN
userPassword: {{ ldap_rootpw | password_hash('ldap_salted_sha1') | string }}

dn: {{ ldap_admin }}
objectClass: simpleSecurityObject
objectClass: organizationalRole
cn: {{ ldap_admin | regex_search('cn\=(\w+)\,dc\=.+') }}
description: LDAP administrator user
userPassword: {{ ldap_pw | password_hash('ldap_salted_sha1') | string }}

dn: o=domains,{{ ldap_suffix }}
o: domains
objectClass: organization
objectClass: top

{% for domain in mail_domains %}
dn: domainName={{ domain }},o=domains,{{ ldap_suffix }}
cn: {{ domain.split('.')[0] }}
domainName: {{ domain }}
objectClass: mailDomain
objectClass: top

dn: ou=Users,domainName={{ domain }},o=domains,{{ ldap_suffix }}
objectClass: organizationalUnit
objectClass: top
ou: Users

{% endfor %}
{% for user in mail_users %}
dn: mail={{ user }}@{{ mail_users[user]['domain'] }},ou=Users,domainName={{ mail_users[user]['domain'] }},o=domains,{{ ldap_suffix }}
cn: {{ mail_users[user]['name'] }}
homeDirectory: /var/vmail/{{ mail_users[user]['domain'] }}/{{ user }}
mail: {{ user }}@{{ mail_users[user]['domain'] }}
objectClass: inetOrgPerson
objectClass: organizationalPerson
objectClass: shadowAccount
objectClass: mailUser
objectClass: person
objectClass: top
sn: {{ mail_users[user]['name'].split(' ',1)[1] | default('') }}
givenName: {{ mail_users[user]['name'].split(' ',1)[0] }}
uid: {{ user }}
userPassword: {{ mail_users[user]['password'] | password_hash('ldap_salted_sha1') | string }}
{% endfor %}

